body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   text-align: center;
   background-image: url(stripblue.jpg);
   background-size: cover;
   background-position: center;
   font-family: sans-serif;
}
.contact-title{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

form {
margin-top: 50px;
transition: all 4s ease-in-out;
}
.form-control {
width: 600px;
background: transparent;
border: none;
outline: none;
border-bottom: 1px solid gray;
color:#fff;
font-size: 18px;
margin-bottom: 16px;

}

input{
    height: 45px;
}

form .submit {
    background: #f9004d;
border-color: transparent;
color: #fff;
font-size: 20px;
font-weight: bold;
letter-spacing: 2px;
height: 50px;
margin-top: 20px;
}

form .submit:hover {
background-color: #f44336;
cursor: pointer;


}

a{
    
    position: relative;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(128, 0, 51);
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a:after{
    content: "";
    position: absolute;
    background-color: rgb(231, 35, 104);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10PX;
    transition:0.3s;
}
a:hover{
    color:rgb(255, 0, 123)
}
a:hover:after{
    width: 100%;
}